<!-- ---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
</Layout> -->

---
import "../styles/global.css"
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
---

<Layout title="Welcome to AgenceX">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<Brands/>
		<Services/>
		<AboutUs/>
		<Features/>
		<CTA/>
	</main>
</Layout>